@require 'css/bootstrap.css'
@require 'css/agency.css'

.hubs-btn-green
  display inline-block

  margin 15px 0
  color #fff
  background-color #fed136
  border none
  border-radius 2px
  border-bottom 1px solid #31AC93
  font-family 'ProximaNova-Regular', Helvetica, Arial, 'Nimbus Sans L', sans-serif
  text-decoration none
  text-align center
  line-height 13px
  vertical-align middle
  padding 6px 11px 3px 12px !important
  text-transform uppercase
  letter-spacing 1px
  font-size 16px
  -webkit-transition all 0.15s linear
  -moz-transition all 0.15s linear
  -o-transition all 0.15s linear
  transition all 0.15s linear
  &:hover
    background-color #7ad9c6
    border-bottom-color #46caaf
  span
    display inline-block
    vertical-align top
    margin 7px 0 0 12px

